
@font-face {
	font-family: 'Gillroy-Bold';
	src: url('./font/Gilroy-Bold.woff2');
}
@font-face {
	font-family: 'Gillroy-Bold';
	src: url('./font/Gilroy-Bold.woff2');
}
@font-face {
	font-family: 'Gillroy-Bold';
	src: url('./font/Gilroy-Bold.woff2');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	background: #FFFFFF;
	font-family: 'Gilroy-Medium';
	/* font-family: 'Gillroy-Bold'; */
	color: #888888;
	font-weight: 600;
}

img {
	max-width: 100%;
	display: block;
}

.navigation_container{
	width: 533px;
	
}


.font1 {
	font-family: Gilroy-Bold;
	font-size: 60px;
	line-height: 70px;
	letter-spacing: 0em;
	text-align: left;
	background: #000000;
	
}


.font2 {
	font-family: Gilroy-Medium;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	background: #888888;

}

.font3 {
	font-family: Gilroy-Bold;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	background: #AAAAAA;
	
}


.container {
	max-width: 1170px;
	margin: 0 auto;
}

.header {
	margin-bottom: 84px;
}

.navigation {
	padding: 39px 0;
}

.navigation__link {
	font-family: Gilroy-SemiBold;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	
	font-family: Gilroy-Medium;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: left;
	
}

.main {
	margin-bottom: 162px;
}
.footer{
	margin-bottom: 162px;
}

.content__left-side {
	max-width: 522px;
}




.content__btn-list {
}

.btn {
	color: #fff;
	font-family: 'Open Sans';
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	border-radius: 5px;
	background: #3a68b8;
	padding: 15px 30px;
	border: none;
	cursor: pointer;
}